/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */

body {
    background: #e0e3e5;
    font-family: "Roboto", sans-serif, Helvetica, Arial;
    margin: 0;
}

#verticalMenu {
    width: 71px;
    height: auto;
    position: fixed;
    z-index: 5;
    transition: .3;
}

#verticalMenu ul {
    display:  block;
    width: 54px;
    height: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

#verticalMenu ul li {
    display: block;
    width: 175px;
    position: relative;
}

#verticalMenu ul li a {
    position: relative;
    display: block;
    width: 198px;
    height: auto;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    line-height: 2em;
    padding: 10px 9px;
    background: rgb(4, 52, 65);
    text-decoration: none;
    text-shadow: 2px 2px 3px #222;
}

.menu {
    position: absolute;
    width: 198px;
    height: 100%;
    background: rgb(4, 52, 65);
    box-shadow: 1px 2px 3px #888;
    position: fixed;
    top: 79px;
    z-index: 3;
}

.footer {
    position: absolute;
    width: 198px;
    height: 88px;
    bottom: -29px;
    background: rgb(4, 52, 65);
    margin-bottom: 78px;
    z-index: 13;
    border-top: 1px solid rgb(9, 42, 51);
    color: rgb(52, 100, 113);
    text-align: center;
    margin-top: 22px;
}

.img_n  {
    transition: .3s;
}

.img_n img {
    width: 40px;
    height: 35px;
}

.img_n:hover {
    margin-left: 5px;
    transition: .3s;
}

/* media */

@media screen and (max-width: 780px) {
    .menu {
        width: 57px;
        transition: .3s;
    }

    #verticalMenu ul li a{
        width: 57px;
        transition: .3s;
    }

    #verticalMenu ul li {
        width: 57px;
    }

    span {
        display: none;
    }

    .footer {
        transform: rotate(90deg);
        left: -77px;
        border-right: 1px solid rgb(9, 42, 51);
        height: 24px;
        bottom: 77px;
        text-align: left;
        padding-left: 11px;
        padding-bottom: 25px;
        padding-top: 6px;
    }

    img_n img {
        height: 40px;
        margin-top: 9px;

    }

    img_n {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 779px) {
    .img_n {
        display: none;
    } 
}

/* End MENU */

/* CHAT */

.chat-wrapper {
    position: relative;
}

.chat-opened {
    position: fixed;
    bottom: 15px;
    right: 15px;
    max-width: 350px;
    max-height: 500px; 
    height: 500px;
    background: orange;
    overflow: visible;
}

/* CHAT HEADER */

.chat-opened header {
    background: rgb(9, 42, 51);
    height: 50px;
}

    /* CHAT BODY */
.chat-body {
    width: 100%;
    height: 400px; 
    overflow-x: hidden;
    overflow-y: scroll;    
}

.chat-body::-webkit-scrollbar {
    width: 10px;
}

.chat-body::-webkit-scrollbar-thumb {
    background: rgba(9, 42, 51, .1);
}

.chat-body::-webkit-scrollbar-thumb:hover {
    background: rgb(9, 42, 51);
}

    /* .chat */
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 50px;
    height: 50px;
    /* height: auto; */
    border-radius: 50%;
    margin: 5px 10px;
    background: #ccc;
}

.chat .chat-message {
    width: 70%;
    padding: 15px;
    margin: 5px 10px;
    font-size: 18px;
    border-radius: 15px;
}

.friend .chat-message {
    background: #1ddced;
}

.self .chat-message {
    background: #1adda4;
    order: -1;
}

/* CHAT FOOTER */

.chat-opened footer {
    background: rgb(9, 42, 51);
    height: 50px;
}

.chat-footer form {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    
}

.chat-footer input[type="submit"], textarea {
    width: 20%;
    height: 30px;
    border: none;
    color: #fff;
    font-size: 16px;
    background: transparent;
}

.chat-footer textarea {
    width: 80%;
    background: rgb(9, 42, 51);
    border-right: 1px solid #fff;
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: auto; 
    resize: none; 
    font-size: 16px; 
}

.chat-footer textarea::-webkit-scrollbar {
    width: 0;
}

.chat-footer textarea::-webkit-scrollbar-thumb {
    background: #fff;
}

.chat-footer textarea:focus {
    border: none;
    border-right: 1px solid #fff;
    outline: none;
}
.chat-footer textarea:o

.chat-footer input[type="submit"] {
    width: 20%;
    background: rgb(9, 42, 51);

}

.chat-footer input[type="submit"]:hover {
    cursor: pointer;
    font-weight: bolder;
    background: rgba(0, 0, 0, .3);
}



/* End CHAT */